
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="controller"  style="
    text-align: center;
">
    <div class="page-error-wrapper">
        <div>
            <h1 class="error-title">404</h1>
            <h5 class="tx-sm-24 tx-normal">Hoạt động tốt. Trang bạn đang tìm kiếm không tồn tại.</h5>
            <p class="mg-b-50">Bạn có thể đã nhập sai địa chỉ hoặc trang có thể đã bị di chuyển.</p>
            <p class="mg-b-50"><a href="/" class="btn btn-error">trở về trang chủ</a></p>
        </div>

    </div><!-- page-error-wrapper -->
</div>
