
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="controller"  style="
    text-align: center;
">
    <div class="page-error-wrapper">
        <div>
            <h1 class="error-title">404</h1>
            <h5 class="tx-sm-24 tx-normal">Hoạt động không tốt. Trang bạn đang tìm kiếm không tồn tại.</h5>
            <p class="mg-b-50" style="font-size:20px;color: black;">Bạn có thể đã vô trang không có ủy quyền cho phép hoặc bạn nhập sai địa chỉ </p>
            <h3 style="color:red"> vui lòng trở lại trang vừa rồi </h3>
            <p class="mg-b-50"><a href="/" class="btn btn-error">trở về trang chủ</a></p>
        </div>

    </div><!-- page-error-wrapper -->
</div>
